body
{
  opacity: 0;
  transition: .2s;
}
.main
{
 
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}



.ht-100
{
  height: 100vh;
}
.h-550x
{
  height: 550px;
}


/*-------------------- fonts ---------------------- */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bree+Serif&family=Didact+Gothic&family=Hammersmith+One&family=Libre+Baskerville&family=Montserrat&family=Nunito&family=Poiret+One&family=Quicksand:wght@500&family=Raleway&family=Sacramento&family=Tajawal&family=Tenali+Ramakrishna&family=Viga&display=swap');
.font-acme{
  font-family: 'Acme', sans-serif;
}

.font-bree
{
  font-family: 'Bree Serif', serif;
}

.font-didact
{
  font-family: 'Didact Gothic', sans-serif;
}

.font-hammersmith
{
  font-family: 'Hammersmith One', sans-serif; 
}

.font-libre
{
  font-family: 'Libre Baskerville', serif;  
}
.font-montserrat
{
  font-family: 'Montserrat', sans-serif;
}
.font-nunito
{
  font-family: 'Nunito', sans-serif;
}

.font-poiret
{
  font-family: 'Poiret One', cursive;
}
.font-quicksand
{
  font-family: 'Quicksand', sans-serif;
}
.font-raleway
{
  font-family: 'Raleway', sans-serif;
}
.font-sacramento
{
  font-family: 'Sacramento', cursive;
}

.font-tajawal
{
  font-family: 'Tajawal', sans-serif;
}
.font-tenali
{
  font-family: 'Tenali Ramakrishna', sans-serif;
}
.font-viga
{
  font-family: 'Viga', sans-serif;
}

/*--------------------- serif fonts ---------------- */
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Merriweather&family=Roboto+Slab&family=Scope+One&family=Zilla+Slab&display=swap');
.font-arvo
{

font-family: 'Arvo';
  
}
.font-merriweather
{
font-family: 'Merriweather';
}
.font-roboto
{
font-family: 'Roboto Slab';
  
}
.font-scope
{
font-family: 'Scope One';
  
}
.font-zilla
{
font-family: 'Zilla Slab';
  
}

.bg-light-eee
{
  background: #e6e6e6;
}
footer, html
{
  background: #e6e6e6;
}
html
{
  scroll-behavior: smooth;
}
footer::before
{
  background: red;
}



.bg-dark-50
{
  background: rgba(0, 0, 0, 0.95);
}



.menu-body
{
  transition: .35s;
  transform: translateX(-800px);
  
}



.font-1
{
  font-size: 1rem;
}
.font-2
{
  font-size: 2rem;
}
.font-20x
{
  font-size: 20px;
}

.z-index-1
{
  z-index: 1;
}
.z-index-2
{
  z-index: 2;
}
.display-none
{
  display: none;
}

.link-rm a
{
  text-decoration: inherit;
  color: inherit;
}

.link-dark a
{
  text-decoration: none;
  transition: .1s;
  color: #111;
}
.link-dark a:hover
{
  filter: contrast(20%);
}


.link-active a
{
  color: inherit;
  
  text-decoration: none;
}
.link-active div
{
  border-bottom: .1px dotted #444;
  transition: .1s;
  
}
.link-bg-white-active div
{
 
}
.link-bg-white-active div:active 
{
  background: rgba(191, 191, 191, 0.24);
  color: #000 !important;
  
  
}


.link a
{
  text-decoration: none;
  transition: .1s;
  color: white;
}
.link a:hover
{
  color: #b1b1b1;
}
.link-icon a
{
  transition: .1s;
}
.link-icon a:hover
{
  filter: contrast(20%);
}


.top-50
{
  position: relative;
  
  top: 50%;
  
  transform: translate(00%, -50%);
  margin-bottom: auto;
}


.border-bottom-grad
{
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.02), #d0d0d0, #c8c8c8, #d0d0d0, rgba(0, 0, 0, 0.02));
  height: 1px;
  width: 100%;
}
.border-bottom
{
  
}


.border-bottom
{
  border-bottom: 1px solid #eaeaea !important;
}
.border-left
{
  border-left: 1px solid #eaeaea !important;
}
.border-right
{
  border-right: 1px solid #eaeaea !important;
}

body button
{
  outline: none !important;
  
}
.cursor-pointer
{
  cursor: pointer !important;
}
.w-25x
{
  width: 25px;
  
}
.w-35x
{
  outline: none;
  width: 35px;
}
.w-140x
{
  width: 140px;
}
.w-250x
{
  width: 250px;
}
.w-300x
{
  width: 300px;
}
.border-none
{
  border: none;
}





.overlay
{
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.61);
  left: 0;
  top: 0;
  z-index: 1;

}

























